@charset "UTF-8";
/*CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li,
form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article,
aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  /*font: inherit;*/
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1;
  font-family: Microsoft JhengHei; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*height: auto，自適應內容高度，也就是說元素會自動的
調整為它內容可以正確顯示的高度，所以下面這行的目的是要
讓圖片的設定顯示是正常的*/
img {
  max-width: 100%;
  height: auto; }

/* CSS Reset end*/
body {
  background-color: #000;
  background-image: -webkit-linear-gradient(10deg, #080422 0%, #30166d 30%, #30166d 50%, #080422 100%);
  background-image: -o-linear-gradient(10deg, #080422 0%, #30166d 30%, #30166d 50%, #080422 100%);
  background-image: linear-gradient(80deg, #080422 0%, #30166d 30%, #30166d 50%, #080422 100%); }

a {
  text-decoration: none; }

h1 {
  font-size: 28px; }

h2 {
  font-size: 26px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 22px; }

h5 {
  font-size: 20px; }

h6 {
  font-size: 18px; }

p {
  letter-spacing: 1px;
  line-height: 1.3; }

.width1200 {
  max-width: 1200px;
  margin: 0 auto; }

.width1700 {
  max-width: 1700px;
  margin: 0 auto; }

/* ...........menu start............ */
header {
  width: 100%;
  height: 70px;
  font-size: 0;
  background-image: -webkit-linear-gradient(10deg, #240d48 0%, #30166d 30%, #30166d 50%, #080422 100%);
  background-image: -o-linear-gradient(10deg, #240d48 0%, #30166d 30%, #30166d 50%, #080422 100%);
  background-image: linear-gradient(80deg, #240d48 0%, #30166d 30%, #30166d 50%, #080422 100%);
  background-color: rgba(36, 13, 28, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 2000; }

#menu_ctr {
  position: absolute;
  top: -100px; }

.menu_ctr {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 10px;
  top: 20px;
  cursor: pointer;
  z-index: 10; }

.menu_ctr:before {
  content: '';
  width: 25px;
  height: 2.5px;
  background-color: #e5ceac;
  display: block;
  position: absolute;
  top: 10px;
  left: 0;
  -webkit-box-shadow: 0px 8px 0 #e5ceac, 0px -8px 0 #e5ceac;
  box-shadow: 0px 8px 0 #e5ceac, 0px -8px 0 #e5ceac;
  border-radius: 3px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }

.menu {
  width: 100vw;
  height: calc( 100vh - 45px);
  background-image: -webkit-linear-gradient(10deg, #0c091d 0%, #140f30 30%, #140f30 50%, #0c091d 100%);
  background-image: -o-linear-gradient(10deg, #0c091d 0%, #140f30 30%, #140f30 50%, #0c091d 100%);
  background-image: linear-gradient(80deg, #0c091d 0%, #140f30 30%, #140f30 50%, #0c091d 100%);
  background-color: rgba(36, 13, 28, 0.6);
  -webkit-box-shadow: 0 0 10px 10px rgba(48, 17, 37, 0.2);
  box-shadow: 0 0 10px 10px rgba(48, 17, 37, 0.2);
  position: absolute;
  top: -1000px;
  left: 0;
  -webkit-transition: top 0.9s;
  -o-transition: top 0.9s;
  transition: top 0.9s;
  display: inline-block;
  vertical-align: middle;
  margin: auto;
  z-index: 20; }
  .menu > li:first-child {
    margin-top: 30px; }
  .menu > li {
    padding: 15px 0px;
    list-style: none; }
    .menu > li > a {
      text-decoration: none;
      font-size: 18px;
      font-family: Microsoft JhengHei;
      margin: 0 10px;
      color: white; }
      .menu > li > a:hover {
        color: white;
        text-shadow: 0 0 15px rgba(255, 0, 106, 0.8);
        cursor: pointer; }

.menu_items {
  text-align: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #ffffff; }

.logo {
  display: block;
  pointer-events: none; }
  .logo #logo {
    pointer-events: auto;
    display: block;
    width: 120px;
    height: 70px;
    position: relative;
    left: 34%;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    z-index: 6; }

.logo .logo_b {
  padding: 5px 20px;
  left: 5%;
  -webkit-transform: translateY(-38%);
  -ms-transform: translateY(-38%);
  transform: translateY(-38%);
  position: absolute;
  z-index: 1;
  opacity: .95;
  pointer-events: none; }

.login_mobile {
  display: block; }

#spanLogin2 {
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold; }
  #spanLogin2:hover {
    color: #ffc107; }

.nav_user {
  display: none; }
  .nav_user a span {
    color: #fff; }
  .nav_user #spanLogin {
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold; }
    .nav_user #spanLogin:hover {
      color: #ffc107; }
  .nav_user #memName {
    color: #fff;
    font-size: 16px;
    padding-right: 5px; }

#menu_ctr:checked ~ nav .menu {
  top: 70px; }

@media screen and (min-width: 768px) {
  header {
    text-align: center;
    width: 100%;
    height: 100px; }
  header:before {
    content: '';
    height: 10px;
    display: inline-block;
    vertical-align: middle; }
  .menu_ctr {
    display: none; }
  .menu {
    position: fixed;
    top: 50px;
    width: 60%;
    height: 3%;
    font-weight: bold;
    letter-spacing: 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: auto;
    margin-left: 21%;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: 0 0 0px 0px rgba(48, 17, 37, 0.2);
    box-shadow: 0 0 0px 0px rgba(48, 17, 37, 0.2); }
  .menu li {
    list-style: none; }
  .menu li:first-child {
    margin-top: 0; }
  .menu li a {
    text-decoration: none;
    font-size: 2.3vmin;
    margin: 0 10px;
    color: rgba(255, 255, 255, 0.8); }
  .menu li a:hover {
    color: white;
    text-shadow: 0 0 15px rgba(255, 0, 106, 0.8);
    cursor: pointer; }
  .logo {
    position: relative;
    width: 126px;
    z-index: 5;
    top: 0%;
    left: 0%;
    pointer-events: none; }
    .logo > #logo {
      position: absolute;
      pointer-events: auto;
      display: block;
      width: 120px;
      height: 100px;
      left: 10px;
      top: -10px;
      z-index: 6; }
      .logo > #logo:hover ~ .logo_b {
        -webkit-animation: flicker 2s forwards;
        animation: flicker 2s forwards; }
  @-webkit-keyframes flicker {
    0% {
      opacity: 0; }
    1% {
      opacity: 0; }
    2.5% {
      opacity: 1; }
    5% {
      opacity: .1; }
    16% {
      opacity: .1; }
    18% {
      opacity: 1; }
    22% {
      opacity: 1; }
    18.5% {
      opacity: .1; }
    38.5% {
      opacity: 1; }
    39% {
      opacity: .5; }
    42% {
      opacity: 1; }
    73% {
      opacity: 1; }
    75% {
      opacity: .8; }
    79% {
      opacity: 1; }
    100% {
      opacity: 1; } }
  @keyframes flicker {
    0% {
      opacity: 0; }
    1% {
      opacity: 0; }
    2.5% {
      opacity: 1; }
    5% {
      opacity: .1; }
    16% {
      opacity: .1; }
    18% {
      opacity: 1; }
    22% {
      opacity: 1; }
    18.5% {
      opacity: .1; }
    38.5% {
      opacity: 1; }
    39% {
      opacity: .5; }
    42% {
      opacity: 1; }
    73% {
      opacity: 1; }
    75% {
      opacity: .8; }
    79% {
      opacity: 1; }
    100% {
      opacity: 1; } }
    .logo .logo_b {
      max-width: none;
      position: absolute;
      padding: 5px 20px;
      top: 90px;
      left: -100%;
      z-index: 1;
      opacity: .95;
      pointer-events: none; }
    .logo > audio {
      position: absolute;
      opacity: 0; }
    .logo #L_box {
      position: absolute;
      width: 60px;
      height: 50vh;
      top: 85px;
      left: 39px;
      margin: auto; }
  .login_mobile {
    display: none; }
  .nav_user {
    display: block; } }

/* ...........menu end............ */
.nav_user {
  position: fixed;
  top: 44px;
  right: 50px;
  text-align: right; }
  .nav_user .fas {
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px; }
    .nav_user .fas:hover {
      color: #fff; }

.nav_user a {
  text-decoration: none;
  display: inline-block;
  /* vertical-align: top; */
  margin-left: 10px;
  padding: 5px; }

.nav_user a img {
  opacity: 0.5; }

.nav_user a img:hover {
  opacity: 1; }

.sidebar {
  width: 18px;
  height: 330px;
  color: rgba(255, 255, 255, 0.8);
  position: fixed;
  margin-top: 50vh;
  left: 50px;
  top: 0px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.sidebar p {
  margin: 0 auto;
  padding: 10px 0;
  font-size: 2.3vmin; }

.sidebar::before {
  position: relative;
  display: inline-block;
  content: '';
  height: 120px;
  border-left: 1px solid rgba(255, 255, 255, 0.8); }

.sidebar::after {
  position: relative;
  display: inline-block;
  content: '';
  height: 120px;
  top: 5px;
  border-left: 1px solid rgba(255, 255, 255, 0.8); }

.star {
  position: fixed;
  margin: auto;
  top: 250px;
  right: 0px;
  display: inline;
  text-align: right;
  line-height: 80%;
  margin-right: 42px; }

.star img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0px;
  padding: 5px;
  opacity: 0.3; }

.star img:first-child {
  opacity: 1; }

.footer {
  padding-top: 30px;
  bottom: 0px; }
  .footer .copyright {
    position: relative;
    left: 35px;
    bottom: 5px;
    font-size: 12px;
    letter-spacing: 1px;
    display: inline; }
  .footer .copyright div {
    color: rgba(255, 255, 255, 0.7);
    display: inline; }
  .footer .copyright span {
    color: #711439; }

.trd {
  cursor: default;
  right: 42px;
  bottom: 20px;
  text-align: right;
  position: relative; }

.trd img {
  opacity: 0.5;
  margin: 0 5px; }
  .trd img:hover {
    opacity: 1;
    cursor: pointer; }

input {
  -webkit-appearance: none;
  /* Safari 和 Chrome，常用於iOS下移除內建樣式 */
  -moz-appearance: none;
  /* FireFox */
  appearance: none; }

#NotLogged {
  background-color: rgba(60, 60, 60, 0.5);
  position: fixed;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 50;
  display: none; }
  #NotLogged #NotBtnBox {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 54vmin;
    height: 170px;
    padding: 95px 20px 20px;
    background-image: -webkit-linear-gradient(10deg, #080422 0%, #30166d 30%, #30166d 50%, #080422 100%);
    background-image: -o-linear-gradient(10deg, #080422 0%, #30166d 30%, #30166d 50%, #080422 100%);
    background-image: linear-gradient(80deg, #080422 0%, #30166d 30%, #30166d 50%, #080422 100%);
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    opacity: .9; }
    #NotLogged #NotBtnBox p {
      position: absolute;
      top: 30px;
      right: 0;
      left: 0;
      margin: auto;
      width: 18 0px;
      font-size: 22px;
      color: #fff;
      text-align: center;
      padding: 0; }
    #NotLogged #NotBtnBox #reBtn {
      text-decoration: none;
      display: inline-block;
      padding: 8px 55px;
      margin-top: 20px;
      background-color: rgba(255, 255, 255, 0.2);
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 28px;
      color: rgba(255, 255, 255, 0.7);
      text-align: center;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      #NotLogged #NotBtnBox #reBtn:hover {
        background-color: rgba(255, 255, 255, 0.3);
        border: 1px solid rgba(255, 255, 255, 0.3);
        cursor: pointer; }
        #NotLogged #NotBtnBox #reBtn:hover p {
          color: rgba(255, 255, 255, 0.9); }
    #NotLogged #NotBtnBox #GoToBtn {
      text-decoration: none;
      display: inline-block;
      padding: 8px 55px;
      margin-top: 20px;
      background-color: rgba(245, 1, 62, 0.3);
      border: 1px solid rgba(0, 1, 62, 0.3);
      border-radius: 28px;
      color: rgba(255, 255, 255, 0.9);
      text-align: center;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      #NotLogged #NotBtnBox #GoToBtn:hover {
        background-color: rgba(245, 1, 62, 0.6);
        border: 1px solid rgba(245, 1, 62, 0.6);
        cursor: pointer;
        color: white; }
  @media screen and (max-width: 569px) {
    #NotLogged #NotBtnBox {
      width: 73vmin; }
      #NotLogged #NotBtnBox #reBtn, #NotLogged #NotBtnBox #GoToBtn {
        padding: 8px 40px; } }

.modal {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 2000; }

@media screen and (max-width: 569px) {
  .modal {
    top: 70px; } }

#memContainer {
  background-color: rgba(55, 55, 55, 0.8);
  margin: 10% auto 15% auto;
  border: 1px solid rgba(55, 55, 55, 0.8);
  width: 35%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 20px #fff, 0px 0px 0px #fff, 0px 0px 0px #fff, 0px 0px 0px #fff, 0px 0px 0px #fff, 0px 0px 0px #fff, 0px 0px 5px #fff;
  box-shadow: 0px 0px 20px #fff, 0px 0px 0px #fff, 0px 0px 0px #fff, 0px 0px 0px #fff, 0px 0px 0px #fff, 0px 0px 0px #fff, 0px 0px 5px #fff;
  position: relative; }
  #memContainer #memberImg {
    text-align: center; }
    #memContainer #memberImg img {
      max-width: 100%;
      position: relative;
      top: -40px;
      -webkit-filter: grayscale(0.5);
      filter: grayscale(0.5); }
    #memContainer #memberImg .close {
      font-size: 40px;
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 10px;
      color: #aaa; }
      #memContainer #memberImg .close:hover {
        color: red; }
    #memContainer #memberImg h4 {
      padding-bottom: 20px;
      color: #bbb;
      letter-spacing: 2px; }
  #memContainer #memInfoCheck {
    text-align: center; }
    #memContainer #memInfoCheck input {
      color: #fff;
      width: 90%;
      height: 35px;
      border-radius: 5px;
      margin-top: 10px;
      border: 1px solid #666;
      background-color: #666;
      text-indent: 35px; }
    #memContainer #memInfoCheck input[type="text"] {
      background-image: url("../images/Login/account.png");
      background-repeat: no-repeat;
      background-position: 8px 6px; }
    #memContainer #memInfoCheck input[type="password"] {
      background-image: url("../images/Login/password.png");
      background-repeat: no-repeat;
      background-position: 8px 4px; }
    #memContainer #memInfoCheck button {
      text-decoration: none;
      display: inline-block;
      padding: 8px 55px;
      margin-top: 20px;
      background-color: rgba(245, 1, 62, 0.3);
      border: 1px solid rgba(0, 1, 62, 0.3);
      border-radius: 28px;
      color: rgba(255, 255, 255, 0.9);
      text-align: center;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      #memContainer #memInfoCheck button:hover {
        background-color: rgba(245, 1, 62, 0.6);
        border: 1px solid rgba(245, 1, 62, 0.6);
        cursor: pointer;
        color: white; }
  #memContainer #memInfoReg {
    text-align: center;
    padding: 15px; }
    #memContainer #memInfoReg a + a {
      border-left: 2px solid #999;
      padding: 0 0px 0 12px; }
    #memContainer #memInfoReg .forgotPsw {
      padding-right: 10px; }
    #memContainer #memInfoReg a {
      color: #bbb; }
    #memContainer #memInfoReg a:visited {
      color: #bbb; }
    #memContainer #memInfoReg a:hover {
      color: #fff; }

@media screen and (max-width: 569px) {
  #memContainer {
    width: 90%; } }

.disppear {
  -webkit-animation: LoginDisppear 0.6s;
  animation: LoginDisppear 0.6s; }

@-webkit-keyframes LoginDisppear {
  from {
    -webkit-transform: scale(0);
    transform: scale(0); }
  to {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes LoginDisppear {
  from {
    -webkit-transform: scale(0);
    transform: scale(0); }
  to {
    -webkit-transform: scale(1);
    transform: scale(1); } }

.section {
  text-align: center;
  font-size: 3em; }

.sidebar1, .sidebar2, .sidebar3, .sidebar4 {
  width: 280px;
  color: rgba(255, 255, 255, 0.6);
  position: fixed;
  left: 50px;
  margin: auto; }

.sidebar1 p, .sidebar2 p, .sidebar3 p, .sidebar4 p {
  margin: 0 auto;
  padding: 10px 0;
  font-size: 14px; }

.sidebar1::before, .sidebar2::before, .sidebar3::before, .sidebar4::before {
  position: relative;
  display: inline-block;
  content: '';
  width: 100px;
  left: 6px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  content: '';
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  display: block;
  -webkit-transform: translateY(20px);
  -ms-transform: translateY(20px);
  transform: translateY(20px); }

.sidebar1::after, .sidebar2::after, .sidebar3::after, .sidebar4::after {
  position: relative;
  display: inline-block;
  content: '';
  width: 100px;
  top: 5px;
  left: 175px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  content: '';
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  display: block;
  -webkit-transform: translateY(-25px);
  -ms-transform: translateY(-25px);
  transform: translateY(-25px); }

.logo {
  display: block; }

.A-record {
  background-image: url("../images/index/concert.png");
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh; }
  .A-record .A-page4th {
    margin-top: -100px; }
    .A-record .A-page4th h2 {
      color: #fff;
      padding: 50px 30px 20px;
      font-size: 16px;
      text-align: center;
      letter-spacing: 2px;
      line-height: 1.6em; }
    .A-record .A-page4th .A-recordH3 {
      font-size: 16px;
      color: #fff;
      margin-top: -10px;
      margin-bottom: 10px; }
    .A-record .A-page4th h3 {
      font-size: 16px;
      color: #fff;
      margin-top: -75px; }
    .A-record .A-page4th .cuProcrss {
      width: 100%;
      height: 250px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-line-pack: center;
      align-content: center;
      padding: 10px; }
      .A-record .A-page4th .cuProcrss .cuPro {
        margin: 0px 5px 100px;
        width: 90px;
        line-height: 10px;
        display: inline-block;
        text-align: center;
        padding: 15px;
        color: #333;
        border-radius: 5px;
        border: 2px solid rgba(255, 255, 255, 0.4); }
        .A-record .A-page4th .cuProcrss .cuPro .A-CDStep {
          width: 70%; }
        .A-record .A-page4th .cuProcrss .cuPro .A-starStep {
          width: 40%;
          display: block;
          margin: auto; }
        .A-record .A-page4th .cuProcrss .cuPro p {
          font-size: 14px;
          color: #fff;
          line-height: 1.4em; }
      .A-record .A-page4th .cuProcrss .cuPro:nth-child(1) {
        -webkit-animation: stepLight 8s 0s step-start infinite;
        animation: stepLight 8s 0s step-start infinite;
        display: block; }
      .A-record .A-page4th .cuProcrss .cuPro:nth-child(2) {
        -webkit-animation: stepLight 8s 2s step-start infinite;
        animation: stepLight 8s 2s step-start infinite;
        display: block; }
      .A-record .A-page4th .cuProcrss .cuPro:nth-child(3) {
        -webkit-animation: stepLight 8s 4s step-start infinite;
        animation: stepLight 8s 4s step-start infinite;
        display: block; }
      .A-record .A-page4th .cuProcrss .cuPro:nth-child(4) {
        -webkit-animation: stepLight 8s 6s step-start infinite;
        animation: stepLight 8s 6s step-start infinite;
        display: block; }
    .A-record .A-page4th h3 {
      font-size: 16px;
      color: #fff;
      margin-top: -160px; }
    .A-record .A-page4th .container {
      display: block;
      position: relative;
      width: 320px;
      margin: 50px auto 0 auto;
      -webkit-perspective: 1000px;
      perspective: 1000px; }
      .A-record .A-page4th .container .carousel {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-animation: rotate360 60s infinite forwards linear;
        animation: rotate360 60s infinite forwards linear; }
        .A-record .A-page4th .container .carousel .carousel__face {
          position: absolute;
          width: 30%;
          height: 100px;
          top: -50px;
          left: 10px;
          right: 10px;
          background-size: cover;
          -webkit-box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
          .A-record .A-page4th .container .carousel .carousel__face span {
            margin: auto;
            font-size: 2rem; }
        .A-record .A-page4th .container .carousel .carousel__face:nth-child(1) {
          background-image: url("../images/CDWall/records/reco1.png");
          -webkit-transform: rotateY(0deg) translateZ(430px);
          transform: rotateY(0deg) translateZ(430px); }
        .A-record .A-page4th .container .carousel .carousel__face:nth-child(2) {
          background-image: url("../images/CDWall/records/reco2.png");
          -webkit-transform: rotateY(40deg) translateZ(430px);
          transform: rotateY(40deg) translateZ(430px); }
        .A-record .A-page4th .container .carousel .carousel__face:nth-child(3) {
          background-image: url("../images/CDWall/records/reco3.png");
          -webkit-transform: rotateY(80deg) translateZ(430px);
          transform: rotateY(80deg) translateZ(430px); }
        .A-record .A-page4th .container .carousel .carousel__face:nth-child(4) {
          background-image: url("../images/CDWall/records/reco4.png");
          -webkit-transform: rotateY(120deg) translateZ(430px);
          transform: rotateY(120deg) translateZ(430px); }
        .A-record .A-page4th .container .carousel .carousel__face:nth-child(5) {
          background-image: url("../images/CDWall/records/reco5.png");
          -webkit-transform: rotateY(160deg) translateZ(430px);
          transform: rotateY(160deg) translateZ(430px); }
        .A-record .A-page4th .container .carousel .carousel__face:nth-child(6) {
          background-image: url("../images/CDWall/records/reco6.png");
          -webkit-transform: rotateY(200deg) translateZ(430px);
          transform: rotateY(200deg) translateZ(430px); }
        .A-record .A-page4th .container .carousel .carousel__face:nth-child(7) {
          background-image: url("../images/CDWall/records/reco7.png");
          -webkit-transform: rotateY(240deg) translateZ(430px);
          transform: rotateY(240deg) translateZ(430px); }
        .A-record .A-page4th .container .carousel .carousel__face:nth-child(8) {
          background-image: url("../images/CDWall/records/reco8.png");
          -webkit-transform: rotateY(280deg) translateZ(430px);
          transform: rotateY(280deg) translateZ(430px); }
        .A-record .A-page4th .container .carousel .carousel__face:nth-child(9) {
          background-image: url("../images/CDWall/records/reco1.png");
          -webkit-transform: rotateY(320deg) translateZ(430px);
          transform: rotateY(320deg) translateZ(430px); }
    .A-record .A-page4th #A-nextButton {
      text-decoration: none;
      display: inline-block;
      padding: 8px 55px;
      margin-top: 20px;
      background-color: rgba(245, 1, 62, 0.3);
      border: 1px solid rgba(0, 1, 62, 0.3);
      border-radius: 28px;
      color: rgba(255, 255, 255, 0.9);
      text-align: center;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      .A-record .A-page4th #A-nextButton:hover {
        background-color: rgba(245, 1, 62, 0.6);
        border: 1px solid rgba(245, 1, 62, 0.6);
        cursor: pointer;
        color: white; }

@-webkit-keyframes rotate360 {
  from {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); }
  to {
    -webkit-transform: rotateY(-360deg);
    transform: rotateY(-360deg); } }

@keyframes rotate360 {
  from {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); }
  to {
    -webkit-transform: rotateY(-360deg);
    transform: rotateY(-360deg); } }

@-webkit-keyframes stepLight {
  0% {
    background-color: rgba(133, 51, 104, 0.6); }
  25% {
    background-color: rgba(133, 51, 104, 0.6); }
  50% {
    background-color: none; }
  75% {
    background-color: none; }
  100% {
    background-color: none; } }

@keyframes stepLight {
  0% {
    background-color: rgba(133, 51, 104, 0.6); }
  25% {
    background-color: rgba(133, 51, 104, 0.6); }
  50% {
    background-color: none; }
  75% {
    background-color: none; }
  100% {
    background-color: none; } }

h1 {
  color: #fff; }

h2 {
  color: #fff;
  padding: 50px 30px 20px;
  font-size: 16px;
  text-align: center;
  letter-spacing: 2px;
  line-height: 1.6em; }

.A-gamePage {
  background-image: url("../images/index/pbg.png");
  background-repeat: no-repeat;
  height: 100%; }

.A-page3rd {
  margin-top: 70px;
  position: relative; }
  .A-page3rd .A-couponTiTle {
    width: 100%; }
    .A-page3rd .A-couponTiTle .coupon3, .A-page3rd .A-couponTiTle .coupon4 {
      display: none; }
    .A-page3rd .A-couponTiTle .coupon {
      display: inline-block; }
      .A-page3rd .A-couponTiTle .coupon img {
        float: left;
        width: 80px;
        margin: 0 50px;
        -webkit-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
        transform: rotate(15deg); }
      .A-page3rd .A-couponTiTle .coupon .coupon1, .A-page3rd .A-couponTiTle .coupon .coupon2 {
        animation: jump 2.5s infinite alternate-reverse; }
  .A-page3rd .game-allA .star-game {
    width: 100%; }
    .A-page3rd .game-allA .star-game h4 {
      color: #fff;
      font-size: 18px;
      padding-top: 5px;
      text-shadow: 0 0 5px #F87, 0 0 10px #F87, 0 0 15px #F87, 0 0 20px #af0101, 0 0 25px #af0101, 0 0 30px #af0101, 0 0 50px #af0101, 0 0 80px #af0101, 0 0 150px #af0101; }
    .A-page3rd .game-allA .star-game p {
      color: #fff;
      font-size: 15px;
      padding: 10px;
      text-align: left;
      letter-spacing: 2px;
      line-height: 1.6em; }
    .A-page3rd .game-allA .star-game .sing-game {
      float: left;
      width: 50%;
      position: relative;
      margin: auto;
      padding: 10px; }
      .A-page3rd .game-allA .star-game .sing-game .sing-gameImg {
        width: 50%; }
      .A-page3rd .game-allA .star-game .sing-game .sing-game-content {
        width: 100%;
        margin: auto; }
      .A-page3rd .game-allA .star-game .sing-game .gameLine {
        position: absolute;
        top: 50%;
        left: 0; }
    .A-page3rd .game-allA .star-game .rhyme-game {
      width: 50%;
      float: left;
      position: relative;
      margin: auto;
      padding: 10px; }
      .A-page3rd .game-allA .star-game .rhyme-game .rhyme-gameImg {
        width: 50%; }
      .A-page3rd .game-allA .star-game .rhyme-game .rhyme-game-content {
        width: 100%; }
      .A-page3rd .game-allA .star-game .rhyme-game .gameLine {
        position: absolute;
        top: 50%;
        left: 0; }

@-webkit-keyframes jump {
  0% {
    -webkit-transform: translateY(10%);
    transform: translateY(10%); }
  50% {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  100% {
    -webkit-transform: translateY(10%);
    transform: translateY(10%); } }

@keyframes jump {
  0% {
    -webkit-transform: translateY(10%);
    transform: translateY(10%); }
  50% {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  100% {
    -webkit-transform: translateY(10%);
    transform: translateY(10%); } }

.A-class {
  background-image: url("../images/index/class-bg1.png");
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  margin-top: 30px; }
  .A-class .owl-carousel h4 {
    color: #fff; }
  .A-class .A-classItem {
    margin: auto;
    width: 85%;
    background-color: #000000;
    height: 420px; }
    .A-class .A-classItem h4 {
      font-size: 22px;
      padding: 10px; }
    .A-class .A-classItem p {
      color: #fff;
      font-size: 16px;
      text-align: left;
      padding: 5px 10px;
      letter-spacing: 2px;
      line-height: 1.6em; }
    .A-class .A-classItem .A-singUpButton {
      text-decoration: none;
      display: inline-block;
      padding: 8px 55px;
      margin-top: 20px;
      margin-bottom: 20px;
      background-color: rgba(245, 1, 62, 0.3);
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 28px;
      color: rgba(255, 255, 255, 0.7);
      text-align: center;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      .A-class .A-classItem .A-singUpButton:hover {
        background-color: rgba(255, 255, 255, 0.08);
        border: 1px solid rgba(255, 255, 255, 0.7);
        cursor: pointer; }
        .A-class .A-classItem .A-singUpButton:hover p {
          color: rgba(255, 255, 255, 0.9); }
      .A-class .A-classItem .A-singUpButton p {
        font-size: 16px;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }

@media screen and (min-width: 768px) {
  .logo {
    display: block; }
  .sidebar1, .sidebar2, .sidebar3, .sidebar4 {
    width: 15px;
    height: 330px;
    color: rgba(255, 255, 255, 0.6);
    position: fixed;
    left: 50px;
    margin-top: 75px; }
  .sidebar1 p, .sidebar2 p, .sidebar3 p, .sidebar4 p {
    margin: 0 auto;
    padding: 20px 0;
    font-size: 2.3vmin; }
  .sidebar1::before, .sidebar2::before, .sidebar3::before, .sidebar4::before {
    position: relative;
    content: '';
    height: 120px;
    left: 10px;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    background-color: none;
    width: 1px;
    margin: 10px 0; }
  .sidebar1::after, .sidebar2::after, .sidebar3::after, .sidebar4::after {
    position: relative;
    content: '';
    height: 120px;
    top: 5px;
    left: 10px;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    background-color: none;
    width: 1px;
    margin: 10px 0; }
  .clear-fix {
    clear: both; }
  h2 {
    color: #fff;
    padding: 20px;
    margin: 100px auto 50px;
    font-size: 26px; }
  .A-page3rd .A-couponTiTle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .A-page3rd .A-couponTiTle .coupon {
      display: none;
      opacity: 0; }
      .A-page3rd .A-couponTiTle .coupon .coupon1, .A-page3rd .A-couponTiTle .coupon .coupon2 {
        display: none; }
    .A-page3rd .A-couponTiTle h2 {
      color: #fff;
      padding: 20px;
      margin: 30px auto 50px;
      font-size: 26px; }
    .A-page3rd .A-couponTiTle .coupon3, .A-page3rd .A-couponTiTle .coupon4 {
      width: 150px;
      height: 100%;
      margin-top: 80px;
      display: block;
      animation: jump1 2.5s infinite alternate-reverse; }
  .A-page3rd .game-allA {
    margin-top: -90px; }
    .A-page3rd .game-allA .star-game {
      padding: 20px;
      margin: 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-line-pack: center;
      align-content: center; }
      .A-page3rd .game-allA .star-game h4 {
        color: #fff;
        font-size: 30px;
        padding-top: 20px;
        padding-bottom: 30px; }
        .A-page3rd .game-allA .star-game h4:hover {
          -webkit-filter: contrast(200%);
          filter: contrast(200%); }
      .A-page3rd .game-allA .star-game p {
        color: #fff;
        font-size: 18px;
        text-align: center;
        line-height: 1.6em;
        letter-spacing: 2px;
        padding: 0 30px; }
      .A-page3rd .game-allA .star-game .sing-game {
        width: 25%;
        float: left;
        margin: 20px 100px;
        padding: 0;
        position: relative; }
        .A-page3rd .game-allA .star-game .sing-game .sing-gameImg {
          width: 100%;
          float: left; }
          .A-page3rd .game-allA .star-game .sing-game .sing-gameImg:hover {
            -webkit-filter: contrast(200%);
            filter: contrast(200%); }
        .A-page3rd .game-allA .star-game .sing-game .sing-game-content {
          width: 100%;
          float: left;
          margin: auto; }
          .A-page3rd .game-allA .star-game .sing-game .sing-game-content p {
            text-align: left;
            padding: 0 25px; }
        .A-page3rd .game-allA .star-game .sing-game .gameLine {
          position: absolute;
          top: 70%;
          left: 0; }
      .A-page3rd .game-allA .star-game .rhyme-game {
        width: 25%;
        float: left;
        margin: 20px 100px;
        padding: 0; }
        .A-page3rd .game-allA .star-game .rhyme-game .rhyme-gameImg {
          width: 100%;
          float: left; }
          .A-page3rd .game-allA .star-game .rhyme-game .rhyme-gameImg:hover {
            -webkit-filter: contrast(200%);
            filter: contrast(200%); }
        .A-page3rd .game-allA .star-game .rhyme-game .rhyme-game-content {
          width: 100%;
          float: left; }
          .A-page3rd .game-allA .star-game .rhyme-game .rhyme-game-content p {
            text-align: left;
            padding: 0 25px; }
        .A-page3rd .game-allA .star-game .rhyme-game .gameLine {
          position: absolute;
          top: 70%;
          left: 0; }
  @-webkit-keyframes jump1 {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0); }
    50% {
      -webkit-transform: rotate(15deg);
      transform: rotate(15deg); }
    100% {
      -webkit-transform: rotate(0);
      transform: rotate(0); } }
  @keyframes jump1 {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0); }
    50% {
      -webkit-transform: rotate(15deg);
      transform: rotate(15deg); }
    100% {
      -webkit-transform: rotate(0);
      transform: rotate(0); } }
  .A-record {
    background-image: url("../images/index/concert1.png");
    background-repeat: no-repeat;
    background-image: url("../images/index/mic-bg.png");
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%; }
    .A-record .A-page4th {
      margin-top: -150px; }
      .A-record .A-page4th .A-recordH2 {
        margin-top: -220px;
        color: #fff;
        padding: 20px;
        margin: 30px auto 30px;
        font-size: 26px; }
      .A-record .A-page4th .A-recordH3 {
        font-size: 26px;
        color: #fff;
        margin: 10px auto 10px; }
      .A-record .A-page4th .cuProcrss {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-line-pack: center;
        align-content: center; }
        .A-record .A-page4th .cuProcrss .cuPro {
          float: left;
          margin: 0px auto 50px;
          width: 250px;
          line-height: 10px;
          text-align: center;
          padding: 10px;
          color: #333;
          border-radius: 5px;
          border: 2px solid rgba(255, 255, 255, 0.4); }
          .A-record .A-page4th .cuProcrss .cuPro .A-CDStep {
            width: 100px;
            background: rgba(255, 255, 255, 0.4);
            border-radius: 50%; }
          .A-record .A-page4th .cuProcrss .cuPro .A-starStep {
            display: inline-block;
            width: 50px;
            vertical-align: middle;
            padding: 10px; }
          .A-record .A-page4th .cuProcrss .cuPro p {
            font-size: 18px;
            color: #fff;
            padding: 10px 0;
            font-weight: 600; }
      .A-record .A-page4th h3 {
        font-size: 16px;
        color: #fff;
        margin-top: -161px; }
      .A-record .A-page4th .container {
        text-align: center;
        position: relative;
        width: 320px;
        margin: 100px auto 0 auto;
        -webkit-perspective: 1500px;
        perspective: 1500px; }
        .A-record .A-page4th .container .carousel {
          position: absolute;
          width: 100%;
          height: 100%;
          -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
          -webkit-animation: rotate360 60s infinite forwards linear;
          animation: rotate360 60s infinite forwards linear; }
          .A-record .A-page4th .container .carousel .carousel__face {
            position: absolute;
            width: 170px;
            height: 170px;
            top: -50px;
            left: 10px;
            right: 10px;
            background-size: cover;
            -webkit-box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.1);
            box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.1);
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex; }
            .A-record .A-page4th .container .carousel .carousel__face span {
              margin: auto;
              font-size: 2rem; }
          .A-record .A-page4th .container .carousel .carousel__face:nth-child(1) {
            background-image: url("../images/CDWall/records/reco1.png");
            -webkit-transform: rotateY(0deg) translateZ(430px);
            transform: rotateY(0deg) translateZ(430px); }
          .A-record .A-page4th .container .carousel .carousel__face:nth-child(2) {
            background-image: url("../images/CDWall/records/reco2.png");
            -webkit-transform: rotateY(40deg) translateZ(430px);
            transform: rotateY(40deg) translateZ(430px); }
          .A-record .A-page4th .container .carousel .carousel__face:nth-child(3) {
            background-image: url("../images/CDWall/records/reco3.png");
            -webkit-transform: rotateY(80deg) translateZ(430px);
            transform: rotateY(80deg) translateZ(430px); }
          .A-record .A-page4th .container .carousel .carousel__face:nth-child(4) {
            background-image: url("../images/CDWall/records/reco4.png");
            -webkit-transform: rotateY(120deg) translateZ(430px);
            transform: rotateY(120deg) translateZ(430px); }
          .A-record .A-page4th .container .carousel .carousel__face:nth-child(5) {
            background-image: url("../images/CDWall/records/reco5.png");
            -webkit-transform: rotateY(160deg) translateZ(430px);
            transform: rotateY(160deg) translateZ(430px); }
          .A-record .A-page4th .container .carousel .carousel__face:nth-child(6) {
            background-image: url("../images/CDWall/records/reco6.png");
            -webkit-transform: rotateY(200deg) translateZ(430px);
            transform: rotateY(200deg) translateZ(430px); }
          .A-record .A-page4th .container .carousel .carousel__face:nth-child(7) {
            background-image: url("../images/CDWall/records/reco7.png");
            -webkit-transform: rotateY(240deg) translateZ(430px);
            transform: rotateY(240deg) translateZ(430px); }
          .A-record .A-page4th .container .carousel .carousel__face:nth-child(8) {
            background-image: url("../images/CDWall/records/reco8.png");
            -webkit-transform: rotateY(280deg) translateZ(430px);
            transform: rotateY(280deg) translateZ(430px); }
          .A-record .A-page4th .container .carousel .carousel__face:nth-child(9) {
            background-image: url("../images/CDWall/records/reco1.png");
            -webkit-transform: rotateY(320deg) translateZ(430px);
            transform: rotateY(320deg) translateZ(430px); }
      .A-record .A-page4th #A-nextButton {
        text-decoration: none;
        display: inline-block;
        padding: 8px 55px;
        margin-top: 20px;
        background-color: rgba(245, 1, 62, 0.3);
        border: 1px solid rgba(0, 1, 62, 0.3);
        border-radius: 28px;
        color: rgba(255, 255, 255, 0.9);
        text-align: center;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        font-size: 18px;
        font-weight: 700; }
        .A-record .A-page4th #A-nextButton:hover {
          background-color: rgba(245, 1, 62, 0.6);
          border: 1px solid rgba(245, 1, 62, 0.6);
          cursor: pointer;
          color: white; }
  @-webkit-keyframes rotate360 {
    from {
      -webkit-transform: rotateY(0deg);
      transform: rotateY(0deg); }
    to {
      -webkit-transform: rotateY(-360deg);
      transform: rotateY(-360deg); } }
  @keyframes rotate360 {
    from {
      -webkit-transform: rotateY(0deg);
      transform: rotateY(0deg); }
    to {
      -webkit-transform: rotateY(-360deg);
      transform: rotateY(-360deg); } }
  .record {
    margin: auto;
    width: 100%;
    margin-top: 50px; }
  .record img {
    width: 20%; }
  .A-class {
    background-image: url("../images/index/class-bg.png");
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    margin-top: -10px; }
    .A-class h2 {
      margin-bottom: 0px; }
    .A-class .owl-carousel h4 {
      color: #fff; }
    .A-class .A-classItem {
      margin: auto;
      width: 85%;
      background-color: #000000;
      height: 85%; }
      .A-class .A-classItem img {
        width: 70%; }
      .A-class .A-classItem h4 {
        font-size: 22px;
        padding: 15px; }
      .A-class .A-classItem p {
        color: #fff;
        font-size: 16px;
        text-align: left;
        padding: 10px 20px;
        letter-spacing: 2px;
        line-height: 1.6em; }
      .A-class .A-classItem .A-singUpButton {
        text-decoration: none;
        display: inline-block;
        padding: 8px 55px;
        margin-top: 20px;
        background-color: rgba(245, 1, 62, 0.3);
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 28px;
        color: rgba(255, 255, 255, 0.7);
        text-align: center;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
        .A-class .A-classItem .A-singUpButton:hover {
          background-color: rgba(255, 255, 255, 0.08);
          border: 1px solid rgba(255, 255, 255, 0.7);
          cursor: pointer; }
          .A-class .A-classItem .A-singUpButton:hover p {
            color: rgba(255, 255, 255, 0.9); }
        .A-class .A-classItem .A-singUpButton p {
          font-size: 16px;
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s; } }
