@import 'reset';
@import 'mixins';
@import 'color';
// @import 'grid';


@media screen and (min-width:768px){
  .menu li:nth-child(4) a {
    color: rgba(255, 255, 255, 1);
    text-shadow: 0 0 15px rgba(255, 0, 106, 0.8);
}  
.rwdwrap{
  display: none;
}
body{
    overflow: hidden;
}
.menu{
    z-index: 20;
}
.footer{
    margin-top: -3%;
}
#spanLogin2{
  display: none;
}
.H_rwd-selectarea{
    display: none;
}
#menu_ctr{
    display: none;
}
.sidebar{
    top: 0%;
}
audio{
    display: none;
}
.H_selectarea{
    height: 100vh;
    z-index: 5;
    padding-top: 13%;
    display: flex;
    justify-content: space-around;
    background-image: url("../images/Test/brickwall2.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center top;
    background-position-y: 70px;
  }

.H_soundPratice{
    width: 100vw;
    height: 100vh;
    margin-top: 8px;
    margin-left: -5%;
    p{
        width: 24vw;
        padding: 0 15px;
        margin-left: 32%;
        color:$white;
        font-size: 18px;  
        line-height: 1.6em;
        letter-spacing: 2px;      
    }
    img{
        height: 38%;
        margin-left:30%;
        margin-bottom: 1%;
        animation: glow 1s ease-in-out infinite alternate;
    &:hover{
        animation: none;
        filter: contrast(200%);
    }
}
}
}   
.H_rhythmGame{
  width: 100vw;
  height: 100vh;
    p{
        margin-left: 30%;
        padding: 0 10px;
        width: 24vw;
        color:$white;
        font-size: 18px;  
        line-height: 1.6em;
        letter-spacing: 2px;      
     }
     img{
        animation: glow 1s ease-in-out infinite alternate; 
        height: 43%;
        margin-left: 29%;
        margin-top: -4%;
    &:hover{
        animation: none;
        filter: contrast(200%);
    }
}
}   
@keyframes glow{
  from{
    filter: contrast(50%);
  }
  to{
    filter: contrast(200%);
  }
}
.neonstar{
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 280px;
  margin-top: -10%;
  animation: glow 1.5s ease-in-out infinite alternate;
}

#comment {
  display: flex;
  z-index:10;
  width: 550px;
  height: 120px;
  background-color: rgba(77, 77, 77,.8);
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: fixed;
  border-radius: 28px;
  top: -35px;
  left: 50%;
  padding:20px;
  line-height:20px;
  transform: translate(-50%, 100px);
  opacity: 0;
  transition: linear 1s;
}
#comment p {
  align-items: center;
  color: #fff;
}

@media screen and (max-width:767px){

body{
    overflow: hidden;
}
.sidebar{
    display: none;
}
#gameLobby{
    display: none;
}
#comment{
  width: 80%;
  height: 20%;
}
.H_1stBg{
    display: none;
}
.H_rwd-selectarea{
    height: 92vh ;
    padding-top: 35%;
    background-image: url("../images/Test/brickwall2.png");
    background-position: center center;
}
.rwdwrap{
  img{
    width: 80%;
    margin-top: 3%;
    margin-left: 10%;
    margin-bottom: 3%;
  }
  p{
    color: rgb(255, 255, 255);
    width: 300px;
    margin: 0 auto;
  }
}
.neonstar{
  display: none;
}
}

